{
 "sensu": [
   {
       "name": "{{ uchiwa_datacenter_name }}",
       "host": "127.0.0.1",
       "port": 4567,
       "user": "admin",
       "pass": "secret",
       "timeout": 5000
   }
 ],
 "uchiwa": {
   "users":{{ uchiwa_users | to_nice_json }}
   "port": {{ uchiwa_port }},
   "refresh": {{ uchiwa_refresh }}
  }
}