{
 "sensu": [
   {
       "name": "~",
       "host": "127.0.0.1",
       "port": 4567,
       "user": "admin",
       "pass": "secret",
       "timeout": 5000
   }
 ],
 "uchiwa": {
   "user": "admin",
   "pass": "admin",
   "port": 3000,
   "refresh": 5
  }
}