<h1>Hello!</h1>
<div class="notification-wrapper">
    <h3>Notifications</h3>
    <ul id="notifications">

    </ul>
</div>

<script src='/socket.io/socket.io.js'></script>
<script>
    var socket = io("http://localhost:8080") // NEEDS TO CHANGE TO THE DOMAIN TO WORK ON THE INTERNETZ

    socket.on("notification", function(data) {
        let div = document.getElementById("notifications")

        div.innerHTML += "<li>" + data.action + " | " + data.title + "</li>"
    })
</script>
