[Unit]
Description=Fatman service
Requires=network.target

[Service]
User=nobody
# The configuration file application.properties should be here:
WorkingDirectory={{ install_path }}
ExecStart=/usr/bin/java -Xmx256m -jar fat-man-{{ version }}-fat.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5
Environment=db_ip={{ hostvars['service_b_db']['ansible_host'] }}
Environment=db_port={{ db_port }}
Environment=db_name={{ db_name }}
Environment=db_user={{ db_user }}
Environment=db_pass={{ db_pass }}

[Install]
WantedBy=multi-user.target
