http:
  port: {{ port_used }}
admin:
  port: {{ admin_port }}
  hostname: localhost
apiEndpoints:
  serviceA:
    host: localhost
    paths: '/serviceA'
  serviceB:
    host: localhost
    paths: '/serviceB'
serviceEndpoints:
  serviceA:
    url: 'http://{{ hostvars['littleboy1']['ansible_host'] }}:{{ littleboy_port }}'
  serviceB:
    url: 'http://{{ hostvars['fatman1']['ansible_host'] }}:{{ fatman_port }}'
policies:
  - expression
  - proxy
pipelines:
  servicea:
    apiEndpoints:
      - serviceA
    policies:
      - expression:
          condition:
            name: pathExact
            path: /servicea
          action:
            jscode: 'req.url = "/hello"; '
      - proxy:
          action:
            serviceEndpoint: serviceA
            changeOrigin: false
  serviceb:
    apiEndpoints:
      - serviceB
    policies:
      - expression:
          condition:
            name: pathExact
            path: /serviceb
          action:
            jscode: 'req.url = "/"; '
      - proxy:
          action:
            serviceEndpoint: serviceB
            changeOrigin: false
