http:
  port: 8080
admin:
  port: 9876
  hostname: localhost
apiEndpoints:
  api:
    host: localhost
    paths:
      - '/servicea'
      #- '/serviceb'
serviceEndpoints:
  serviceA:
    url: 'http://10.0.10.21:8080'
  #serviceB:
    #url: 'http://10.0.10.31:9876'
policies:
  - basic-auth
  - cors
  - expression
  - key-auth
  - log
  - oauth2
  - proxy
  - rate-limit
pipelines:
  basic:
    apiEndpoints:
      - api
    policies:
      - expression: # policy name
        - condition:
            name: pathExact
            path: /servicea # Måste matcha
        - action:
            jscode: 'req.url = "/hello"; ' #  ändra request url
      - proxy:
          action:
            serviceEndpoint: serviceA
            changeOrigin: false


# Majoritenten av av nedanstående följer följande exempel:
# http://www.express-gateway.io/docs/policies/customization/conditions
  #servicea: # Används som referens av proxy policy
    #url: 'http://10.0.10.21:8080'
  #serviceb: # Används som referens av proxy policy
    #url: 'http://10.0.10.31:9876'


  #servicea:
    #host: 'localhost' # Host
    #paths: /servicea # Path som tar emot request Se andra exemplet -> http://www.express-gateway.io/docs/configuration/gateway.config.yml/apiEndpoints
  #serviceb:
    #host: 'localhost' # Host
    #paths: /serviceb # Path som tar emot request Se andra exemplet -> http://www.express-gateway.io/docs/configuration/gateway.config.yml/apiEndpoints

# Enable policies


# Notera om proxy används enligt: http://www.express-gateway.io/docs/policies/proxy
# Så skickas request URL (apiEndpoints.service.path) vidare och läggs på som sub-url på serviceEndpoint.service.url
# vilket i inte vill. Istället vill vi mappa t.ex host/servicea mot servicea/hello.
# Vilket vi kan åstakomma genom att använda pathExact enligt först exemplet här: http://www.express-gateway.io/docs/policies/expression


#pipelines:
  #servicea:
    #apiEndpoints:
      #- servicea
    #policies:
      #condition:
          #name: pathExact
          #path: /servicea # Måste matcha
      #expression: # policy name
        #- action:
            #jscode: 'req.url = "/hello"; ' #  ändra request url
      #proxy:
        #action:
          #serviceEndpoint: servicea # Skicka request till serviceEndpoint
  #serviceb:
    #apiEndpoints:
      #- servicea
    #policies:
      #condition:
          #name: pathExact
          #path: /serviceb # Måste matcha
      #expression: # policy name
        #- action:
            #jscode: 'req.url = "/"; ' #  ändra request url
      #proxy:
        #action:
          #serviceEndpoint: serviceb # Skicka request till serviceEndpoint
