[Unit]
Description=Express API Gateway

[Service]
ExecStart=/usr/local/bin/node {{ gateway_path }}/server.js
# Required on some systems
WorkingDirectory={{ gateway_path }}
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gateway

[Install]
WantedBy=multi-user.target
