{
  "rabbitmq": {
    "host": "{{ rabbitmq_host }}",
    "port": {{ rabbitmq_port }},
    "vhost": "{{ rabbitmq_sensu_vhost }}",
    "user": "{{ rabbitmq_sensu_username }}",
    "password": "{{ rabbitmq_sensu_password }}"
  }
}
